p {
   margin: 10px;
}
.conteiner {
   padding: 150px 0px 0px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.contgr {
   display: flex;
   align-items: center;
}
.contfunc {
   display: flex;
   align-items: center;
}

#gr {
   width: 30px;
   margin: 0px 0px 0px 10px;
}

#sub {
   margin: 15px 0px 0px 0px;
   margin: 0px 0px 10px 0px;
}
